<%-partial('./partials/basePageHeader')%>

<body>

<%-partial('./partials/sidebarPositions')%>

<div class="wrap" id="mainSection">

  <%-partial('./partials/header')%>

  <section class="s-add-athlete">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="s-add-athlete__heading main-heading"><span>University of Cincinnati</span> New
            Athlete input</h1>
        </div>
        <div class="col-md-12 px-0">
          <form action="" method="POST" class="s-add-athlete__form form">
            <div class="form__block">
              <div class="form__block-header small-desc">New athlete info input</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form__group-wrap">
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="position" class="form__group-label">Position</label>
                        </div>
                        <div class="col-md-9">
                          <select class="form__group-select custom-select " id="position">
                            <%
                            for ( let i = 0; i < positions.length; i++ )
                            {
                              var selected = ( positions[i].value === athlete.position ) ? "selected" : "";
                            %><option <%=selected %>><%=positions[i].title %></option><%
                            }
                            %>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__block">
              <div class="form__block-header small-desc">Player’s photo</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form__group-wrap">
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="position" class="form__group-label">Upload photo</label>
                        </div>
                        <div class="col-md-9">
                          <div class="form__group-input-file-wrap form__group-input-file-wrap--add-photo">
                            <label for="playerPhoto" id="upload-btn" class="form__group-upload-btn">Choose image</label>
                            <div class="form__group-upload-results"><img src="../updatedDesign/img/check-icon.svg" alt=""></div>
                            <input type="file" id="playerPhoto" name="playerPhoto" class="">
                            <span class="clear-field">Clear Field</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__block">
              <div class="form__block-header small-desc">New Athlete Info Input</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form__group-wrap">

                    <div class="form__group d-none">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="playerId" class="form__group-label">id</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="playerId" name="playerId" value="<%= format(athlete.id) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>

                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="firstName" class="form__group-label">First Name</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="firstName" name="firstName" value="<%= format(athlete.fname) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>

                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="lasttName" class="form__group-label">Last Name</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="lastName" name="lastName" value="<%= format(athlete.lname) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="school" class="form__group-label">School</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="school" name="school" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="hometown" class="form__group-label">Hometown</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="hometown" name="hometown" value="<%= format(athlete.hometown) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="state" class="form__group-label">State</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="state" name="state" value="<%= format(athlete.state) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="hsgyear" class="form__group-label">High School Graduation year</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="hsgyear" name="hsgyear" value="<%= format(athlete.highschoolGraduationYear) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="collegeYear" class="form__group-label">College Year</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="collegeYear" name="collegeYear" value="<%= format(athlete.collegeYear) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="multistportAthlete" class="form__group-label">Multisport Athelete</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="multistportAthlete" name="multistportAthlete" value="<%= format(athlete.multisportAthlete) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="momParent" class="form__group-label">Mom Parent</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="momParent" name="momParent" value="<%= format(athlete.momParent) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="dadParent" class="form__group-label">Dad Parent</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="dadParent" name="dadParent" value="<%= format(athlete.dadParent) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="grandmotherParent" class="form__group-label">Grandmother Parent</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="grandmotherParent" name="grandmotherParent" value="<%= format(athlete.grandmotherParent) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="grandfatherParent" class="form__group-label">Grandfather Parent</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="grandfatherParent" name="grandfatherParent" value="<%= format(athlete.grandfatherParent) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="twitter" class="form__group-label">Twitter</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="twitter" name="twitter" value="<%= format(athlete.twitter) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="instagram" class="form__group-label">Instagram</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="instagram" name="instagram" value="<%= format(athlete.instagram) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="facebook" class="form__group-label">Facebook</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="facebook" name="facebook" value="<%= format(athlete.facebook) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="school" class="form__group-label">School</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="school" name="school" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="snapchat" class="form__group-label">Snapchat</label>
                        </div>
                        <div class="col-md-9">
                          <input type="text" id="snapchat" name="snapchat" value="<%= format(athlete.snapchat) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form__block">
              <div class="form__block-header small-desc">Academic Info</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form__group-wrap">
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="SAT" class="form__group-label">SAT</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="SAT" name="SAT" value="<%= format(athlete.sat) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="ACT" class="form__group-label">ACT</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="ACT" name="ACT" value="<%= format(athlete.act) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="GPA" class="form__group-label">GPA</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="GPA" name="GPA" value="<%= format(athlete.gpa) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="coreGPA" class="form__group-label">Core GPA</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="coreGPA" name="coreGPA" value="<%= format(athlete.coreGpa) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form__block">
              <div class="form__block-header small-desc">Core Attributes Info</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form__group-wrap">
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="competitiveness" class="form__group-label">Competitiveness</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="competitiveness" name="competitiveness" value="<%= format(athlete.coreAttributesCompetitiveness) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="mastery" class="form__group-label">Mastery</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="mastery" name="mastery" value="<%= format(athlete.coreAttributesMastery) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="persistence" class="form__group-label">Persistence</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="persistence" name="persistence" value="<%= format(athlete.coreAttributesPersistence) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="teamOrentation" class="form__group-label">Team Orientation</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="teamOrentation" name="teamOrentation" value="<%= format(athlete.coreAttributesTeamOrientation) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="workEthic" class="form__group-label">Work Ethic</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="workEthic" name="workEthic" value="<%= format(athlete.coreAttributesWorkEthic) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>

                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="workEthic" class="form__group-label">Overall Score</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="coreAttributesOverallScore" name="coreAttributesOverallScore" value="<%= format(athlete.coreAttributesOverallScore) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="form__block">
              <div class="form__block-header small-desc">Athletic Info</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form__group-wrap">
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="gamesPlayed" class="form__group-label">Games Played</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="gamesPlayed" name="gamesPlayed" value="<%= format(athlete.gamesPlayed) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="gamesStarted" class="form__group-label">Games Started</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="gamesStarted" name="gamesStarted" value="<%= format(athlete.gamesStarted) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>

                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="carries" class="form__group-label">Carries</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="carries" name="carries" value="<%= format(athlete.carries) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="rushingYards" class="form__group-label">Rushing yards</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="rushingYards" name="rushingYards" value="<%= format(athlete.rushingYards) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="rushingTouchdowns" class="form__group-label">Rushing Touchdowns</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="rushingTouchdowns" name="rushingTouchdowns" value="<%= format(athlete.rushingTouchdowns) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="completations" class="form__group-label">Completions</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="completations" name="completations" value="<%= format(athlete.completions) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="completations" class="form__group-label">Attempts</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="attempts" name="attempts" value="<%= format(athlete.attempts) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="interceptionsThrown" class="form__group-label">Interceptions Thrown</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="interceptionsThrown" name="interceptionsThrown" value="<%= format(athlete.interceptionsThrown) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="touchdownsThrown" class="form__group-label">Touchdowns Thrown</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="touchdownsThrown" name="touchdownsThrown" value="<%= format(athlete.touchdownsThrown) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="paasingYards" class="form__group-label">Passing Yards</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="paasingYards" name="paasingYards" value="<%= format(athlete.passingYards) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="recieptions" class="form__group-label">Receptions</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="recieptions" name="recieptions" value="<%= format(athlete.receptions) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="sacks" class="form__group-label">Sacks</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="sacks" name="sacks" value="<%= format(athlete.sacks) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="soloTrackles" class="form__group-label">Solo Tackles</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="soloTrackles" name="soloTrackles" value="<%= format(athlete.soloTackles) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="tracklessForLoss" class="form__group-label">Tackles for Loss</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="tracklessForLoss" name="tracklessForLoss" value="<%= format(athlete.tacklesForLoss) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="totalTrackles" class="form__group-label">Total Tackles</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="totalTrackles" name="totalTrackles" value="<%= format(athlete.totalTackles) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="forty" class="form__group-label">40 yd Time</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="forty" name="forty" value="<%= format(athlete.forty) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="vertical" class="form__group-label">Vertical Jump</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="vertical" name="vertical" value="<%= format(athlete.vertical) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="weight" class="form__group-label">Weight</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="weight" name="weight" value="<%= format(athlete.weight) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>

                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="weight" class="form__group-label">Height</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="height" name="height" value="<%= format(athlete.height) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="form__block d-none">
              <div class="form__block-header small-desc"> Emotional Info</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form__group-wrap">
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="accountability" class="form__group-label">Accountability</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="accountability" name="accountability" value="<%= format(athlete.emotionalIntelAccountability) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="behavior" class="form__group-label">Behavior</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="behavior" name="behavior" value="<%= format(athlete.emotionalIntelBehavior) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="independence" class="form__group-label">Independence</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="independence" name="independence" value="<%= format(athlete.emotionalIntelIndependence) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="reflection" class="form__group-label">Reflection</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="reflection" name="reflection" value="<%= format(athlete.emotionalIntelReflection) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="relationships" class="form__group-label">Relationships</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="relationships" name="relationships" value="<%= format(athlete.emotionalIntelRelationships) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="responsibility" class="form__group-label">Responsibility</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="responsibility" name="responsibility" value="<%= format(athlete.emotionalIntelResponsibility) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="teamwork" class="form__group-label">Teamwork</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="teamwork" name="teamwork" value="<%= format(athlete.emotionalIntelTeamWork) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form__block d-none">
              <div class="form__block-header small-desc">Social profile Info</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form__group-wrap">
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="facebookSentiment" class="form__group-label">Facebook Sentiment</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="facebookSentiment" name="facebookSentiment" value="<%= format(athlete.facebookSentiment) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="instagramFollowers" class="form__group-label">Instagram Followers</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="instagramFollowers" name="instagramFollowers" value="<%= format(athlete.instagramFollowers) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="newsMediaCoverageMentions" class="form__group-label">News media Coverage mentions</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="newsMediaCoverageMentions" name="newsMediaCoverageMentions" value="<%= format(athlete.newsMediaCoverageSentiment) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="newsMediaCoverageRegional" class="form__group-label">News media Coverage Regional</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="newsMediaCoverageRegional" name="newsMediaCoverageRegional" value="<%= format(athlete.newsMediaCoverageRegional) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="newsMediaCoverageSentiment" class="form__group-label">News media Coverage Sentiment</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="newsMediaCoverageSentiment" name="newsMediaCoverageSentiment" value="<%= format(athlete.newsMediaCoverageSentiment) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="newsMediaCoverageNational" class="form__group-label">News media Coverage National</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="c" name="newsMediaCoverageNational" value="<%= format(athlete.newsMediaCoverageNational) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="pressReleaseSentiment" class="form__group-label">Press release sentiment </label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="pressReleaseSentiment" name="pressReleaseSentiment" value="<%= format(athlete.pressReleaseSentiment) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="pressReleaseSentimentCounter" class="form__group-label">Press release sentiment Counter </label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="pressReleaseSentimentCounter" name="pressReleaseSentimentCounter" value="<%= format(athlete.pressReleaseSentimentCounter) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="instagramSentiment" class="form__group-label">Instagram Sentiment</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="instagramSentiment" name="instagramSentiment" class="form__group-input" value="<%= format(athlete.socialInstagramSentiment) %>" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="twitterSentiment" class="form__group-label">Twitter Sentiment</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="twitterSentiment" name="twitterSentiment" value="<%= format(athlete.socialTwitterSentiment) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                    <div class="form__group">
                      <div class="row">
                        <div class="col-md-3 d-flex align-items-center">
                          <label for="twitterFollowers " class="form__group-label">Twitter Followers</label>
                        </div>
                        <div class="col-md-9">
                          <input type="number" id="twitterFollowers" name="twitterFollowers" value="<%= format(athlete.twitterFollowers) %>" class="form__group-input" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form__submin-btn-block">
              <input id="newathleteinfo_submit" type="button" class="s-add-athlete__form-submit-btn form__submit-btn" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../updatedDesign/constants.js"></script>
<script src="/../assets/js/app/api.js"></script>
<script src="../updatedDesign/js/common.js"></script>

<script>

  updateHeaderLinks();

  document.getElementById('newathleteinfo_submit').addEventListener('click', function () {
    submit();
  });

  function submit() {

    const getString = elementId => {
      const elem = document.getElementById(elementId);
      if (elem) {
        return elem.value
      }
      return null
    };

    const getFloat = elementId => {
      const elem = document.getElementById(elementId);
      let result = 0;

      if (elem) {
        const float = parseFloat(elem.value);
        result = isNaN(float) ? 0 : float;
      }

      return result
    }

    let pos = getString('position');
    const position = getPositionValueOnSelect(pos)
    const highschoolGraduationYear = getFloat('hsgyear');

    const athleteInfo = {
      fname: getString('firstName'),
      lname: getString('lastName'),
      twitter: getFloat('twitter'),
      instagram: getFloat('instagram'),
      snapchat: getFloat('snapchat'),
      position,
      offenseDefense: getFloat('-'),
      facebook: getFloat('facebook'),
      // school: getString('school'),
      hometown: getString('hometown'),
      state: getString('state'),
      height: getFloat('height'),
      weight: getFloat('weight'),
      highschoolGraduationYear,
      collegeYear: getFloat('collegeYear'),
      momParent: getFloat('momParent'),
      dadParent: getFloat('dadParent'),
      grandmotherParent: getFloat('grandmotherParent'),
      grandfatherParent: getFloat('grandfatherParent'),
      guardian: getFloat('guardian'),
      multisportAthlete: getFloat('multistportAthlete'),
      forty: getFloat('forty'),
      vertical: getFloat('vertical'),
      gamesStarted: getFloat('gamesStarted'),
      gamesPlayed: getFloat('gamesPlayed'),
      completions: getFloat('completations'),
      attempts: getFloat('attempts'),
      passingYards: getFloat('paasingYards'),
      touchdownsThrown: getFloat('touchdownsThrown'),
      interceptionsThrown: getFloat('interceptionsThrown'),
      kickoffYards: getFloat('-'),
      averageKickoff: getFloat('-'),
      touchBacks: getFloat('-'),
      totalPuntYards: getFloat('-'),
      averagePunt: getFloat('-'),
      fieldGoalPercentage: getFloat('-'),
      carries: getFloat('carries'),
      rushingYards: getFloat('rushingYards'),
      rushingTouchdowns: getFloat('rushingTouchdowns'),
      receptions: getFloat('recieptions'),
      receivingYards: getFloat('-'),
      recievingTouchdowns: getFloat('-'),
      soloTackles: getFloat('soloTrackles'),
      totalTackles: getFloat('totalTrackles'),
      sacks: getFloat('sacks'),
      tacklesForLoss: getFloat('tracklessForLoss'),
      interceptions: getFloat('-'),
      gpa: getFloat('GPA'),
      sat: getFloat('SAT'),
      act: getFloat('ACT'),
      coreGpa: getFloat('coreGPA'),
      emotionalIntelBehavior: getFloat('behavior'),
      emotionalIntelReflection: getFloat('reflection'),
      emotionalIntelTeamWork: getFloat('teamwork'),
      emotionalIntelRelationships: getFloat('relationships'),
      emotionalIntelAccountability: getFloat('accountability'),
      emotionalIntelResponsibility: getFloat('responsibility'),
      emotionalIntelIndependence: getFloat('independence'),
      socialTwitterSentiment: getFloat('twitterSentiment'),
      twitterFollowers: getFloat('twitterFollowers'),
      socialInstagramSentiment: getFloat('instagramSentiment'),
      instagramFollowers: getFloat('instagramFollowers'),
      facebookSentiment: getFloat('facebookSentiment'),
      newsMediaCoverageSentiment: getFloat('newsMediaCoverageSentiment'),
      newsMediaCoverageMentions: getFloat('newsMediaCoverageMentions'),
      newsMediaCoverageNational: getFloat('newsMediaCoverageNational'),
      newsMediaCoverageRegional: getFloat('newsMediaCoverageRegional'),
      pressReleaseSentiment: getFloat('pressReleaseSentiment'),
      pressReleaseSentimentCounter: getFloat('pressReleaseSentimentCounter'),
      coreAttributesCompetitiveness: getFloat('competitiveness'),
      coreAttributesPersistence: getFloat('persistence'),
      coreAttributesWorkEthic: getFloat('workEthic'),
      coreAttributesTeamOrientation: getFloat('teamOrentation'),
      coreAttributesMastery: getFloat('mastery'),
      coreAttributesOverallScore: getFloat('coreAttributesOverallScore')
    }

    const id = getFloat('playerId');

    const redirect = () => {
      window.location = `/dashboard-position/?position=${position}&highschoolGraduationYear=${highschoolGraduationYear || 'ALL'}`;
    }

    if (id){
      athleteInfo.id = id;
      updatePlayer(athleteInfo, () => setTimeout(redirect, 1000))
    } else {
      createPlayer(athleteInfo, () => setTimeout(redirect, 1000))
    }

  }

</script>

</body>

</html>
