<%-partial('./partials/basePageHeader')%>

<body>

<%-partial('./partials/sidebarPositions')%>

<div class="wrap" id="mainSection">

  <%-partial('./partials/header')%>

  <section class="s-benchmark-input">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="s-benchmark-input__heading main-heading"><span>University of Cincinnati</span> Benchmark Input Page</h1>
          <h1 class="s-benchmark-input__heading main-heading">
            <a href="benchmark-input?pillar=coreAttributes"><button class="<%= pillar === "coreAttributes" ? "green" : "" %>">Core Attributes</button></a>
            <a href="benchmark-input?pillar=academic"><button class="<%= pillar === "academic" ? "green" : "" %>">Academic</button></a>
            <a href="benchmark-input?pillar=athletic"><button class="<%= pillar === "athletic" ? "green" : "" %>">Athletic</button></a>
          </h1>
        </div>
        <div class="col-md-12">
          <div class="s-benchmark-input__form-block">
            <form class="s-benchmark-input__form benchmark-form form" id="benchmark-input_form">
              <div class="benchmark-form__header">
                <div class="row align-items-center">
                  <div class="col-md-12 ">
                    <div id="benchmark-form-header" class="benchmark-form__heading"></div>
                  </div>
                </div>
              </div>
              <div class="benchmark-form__body">
                <div class="benchmark-form__group form__group">
                  <div class="row">
                    <div class="col-md-3 d-flex align-items-center">
                      <label for="position" class="benchmark-form__group-label form__group-label">Position</label>
                    </div>
                    <div class="col-md-8">
                      <select class="benchmark-form__group-select form__group-select custom-select " id="position-benchmark" name="position">
                        <% for(let i=0; i<positions.length; i++) { %>
                        <option>
                          <%= positions[i].title %>
                        </option>
                        <% } -%>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="benchmark-form__group form__group">
                  <div class="row">
                    <div class="col-md-3 d-flex align-items-center">
                      <label for="factor" class="benchmark-form__group-label form__group-label">Factor</label>
                    </div>

                    <div class="col-md-4 pr-1">
                      <div class="benchmark-form__group-input-wrapper form__group-input-num-wrap">
                        <span class="minus"></span>
                        <input type="number" min="0" value="<%= factor %>" max="100" id="factor"  name="factor" class="benchmark-form__group-input form__group-input">
                        <span class="plus"></span>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3 d-flex align-items-center">
                  </div>
                  <div class="col-md-4 pr-1">
                    <div class="benchmark-form__group-input-wrapper form__group-input-num-wrap">
                      <label class="benchmark-form__group-label form__group-label">Value</label>
                    </div>
                  </div>
                  <div class="col-md-4 pl-1">
                    <div class="benchmark-form__group-input-wrapper form__group-input-num-wrap">
                      <label class="benchmark-form__group-label form__group-label">Factor</label>
                    </div>
                  </div>
                </div>

                <div id="form-input-benchmark-values">

                </div>
              </div>
              <div class="benchmark-form__submit-btn-block form__submit-btn-block">
                <input type="submit" class="benchmark-form__form-submit-btn form__submit-btn" value="Submit">
                <a class="benchmark-form__add-new-pillar" href="#">+ Add new pillar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="../updatedDesign/constants.js"></script>
<script src="/../assets/js/app/api.js"></script>
<script src="../updatedDesign/js/common.js"></script>
<script>
  $(document).ready(function () {

    const urlParams = new URLSearchParams(window.location.search);

    let pillar = urlParams.get("pillar") || 'coreAttributes';

    const headers = {
      academic: "Academic",
      athletic: "Athletic",
      coreAttributes: "Core Attributes",
    }

    $('#benchmark-form-header').html(`Football Athlete ${headers[pillar] || ""} benchmark input`)

    $('#benchmark-input_form').submit(function(event){

      event.preventDefault();

      const formValues = $( this ).serializeArray();

      const position = getPositionValueOnSelect(formValues.find(e => e.name === 'position').value);
      const factor = parseFloat(formValues.find(e => e.name === 'factor').value);

      const attr = window.attributes || [];

      const benchmarks = attr.reduce((acc, elem)=>{
        acc[elem] = parseFloat(formValues.find(e => e.name === elem + '-value').value) || null;
        return acc;
      }, {position})


      const factors = attr.reduce((acc, elem)=>{
        acc[elem] = {
          factor: parseFloat(formValues.find(e => e.name === elem + '-factor').value) || 0
        }
        return acc;
      }, {})

      updateBenchmarks({position, benchmarks, factors, pillar, factor})

    })


    $('#position-benchmark')
      .change(function () {
        const position = getPositionValueOnSelect(this.value);
        getBenchmarks(position, pillar, (res) => {

          const {benchmarks, factors} = res;

          const attr = sortAttr(Object.keys(factors));

          window.attributes = attr;
          window.benchmarks = benchmarks;

          const html = attr.map(key => {

            return `<div class="benchmark-form__group form__group">
                  <div class="row">
                    <div class="col-md-3 d-flex align-items-center">
                      <label for="position" class="benchmark-form__group-label form__group-label">${attributesNamesMatches[key] || key} Benchmark</label>
                    </div>
                    <div class="col-md-4 pr-1">
                      <div class="benchmark-form__group-input-wrapper form__group-input-num-wrap">
                        <!--<span class="minus"></span>-->
                        <input type="number" step="any" value="${benchmarks[key]}" id="${key + '-value'}"  name="${key + '-value'}" class="benchmark-form__group-input form__group-input">
                        <!--<span class="plus"></span>-->
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="benchmark-form__group-input-wrapper form__group-input-num-wrap">
                        <!--<span class="minus"></span>-->
                        <input type="number" min="0" value="${factors[key].factor}" max="100" id="${key + '-factor'}" name="${key + '-factor'}" class="benchmark-form__group-input form__group-input">
                        <!--<span class="plus"></span>-->
                      </div>
                    </div>
                  </div>
                </div>`
          }).join("");

          $('#form-input-benchmark-values').html(html);

        });
      }).change()

  });

</script>

</body>

</html>
