<%-partial('./partials/basePageHeader')%>

<body>

<%-partial('./partials/sidebarPositions')%>

<div class="wrap" id="mainSection">

  <%-partial('./partials/header')%>

  <section class="s-player-dashboard">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="dashboard-switch-class"  class="s-player-dashboard__heading main-heading"></h1>
          <h1 id="dashboard-name" class="s-player-dashboard__heading main-heading"></h1>
        </div>
        <div class="col-md-12">
          <h4 class="s-player-dashboard__full-view">Full view of players</h4>
          <div class="s-player-dashboard__class-block class-block">
            <div class="row">
              <div class="col-md-3">
                <a id="all-link" href="#" class="class-block__class blue">
                  <div class="class-block__class-heading">University of Cincinnati Potential
                    Recruits
                    matches based on benchmarks
                  </div>
                  <div class="class-block__class-number"><%= overallCount %></div>
                </a>
              </div>
              <div class="col-md-3">
                <a id="defense-link" href="#" class="class-block__class green">
                  <div class="class-block__class-heading">University of Cincinnati Potential</br>
                    Defensive Recruits
                  </div>
                  <div class="s-player-dashboard__class-number"><%= defenseCount %></div>
                </a>
              </div>
              <div class="col-md-3">
                <a id="offense-link" href="#" class="class-block__class red">
                  <div class="class-block__class-heading">University of Cincinnati Potential</br>
                    Offensive Recruits
                  </div>
                  <div class="class-block__class-number"><%= offenseCount %></div>
                </a>
              </div>
              <div class="col-md-3">
                <a id="special-link" href="#" class="class-block__class blue">
                  <div class="class-block__class-heading">University of Cincinnati Potential</br>
                    Special Team Recruits
                  </div>
                  <div class="class-block__class-number"><%= specialCount %></div>
                </a>
              </div>
            </div>
          </div>
          <div class="s-player-dashboard__table-block">
            <div class="s-player-dashboard__table-b-heading small-desc">
              Cultural Fit
            </div>
            <div class="s-player-dashboard__table-b-desc secondary-heading">
              Top potential recruits to review
            </div>
            <div class="s-player-dashboard__table players-table">
              <div class="players-table__header">
                <div class="row align-items-center">
                  <div class="col-md-1 offset-1">
                    <div class="players-table__heading">
                      Rate
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="players-table__heading">
                      First Name
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="players-table__heading">
                      Last Name
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div class="players-table__heading">
                      Position
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="players-table__heading">
                      Score
                    </div>
                  </div>
                </div>
              </div>
              <div id="CulturalFitTable" class="players-table__body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%-partial('./partials/modalDeletePlayer.ejs')%>

<script src="/../assets/js/app/api.js"></script>
<script src="../updatedDesign/js/common.js"></script>
<script src="../updatedDesign/constants.js"></script>
<script src="../updatedDesign/modal.js"></script>

<script>
  $(document).ready(function () {

    updateHeaderLinks();

    const urlParams = new URLSearchParams(window.location.search);

    let allClasses = urlParams.get("allClasses");
    let highschoolGraduationYear = (urlParams.get("highschoolGraduationYear") || "").toUpperCase() || "ALL";

    $("#all-link").attr("href", `/all/?highschoolGraduationYear=${highschoolGraduationYear}`);
    $("#defense-link").attr("href", `/all/?position=defense&highschoolGraduationYear=${highschoolGraduationYear}`);
    $("#offense-link").attr("href", `/all/?position=offense&highschoolGraduationYear=${highschoolGraduationYear}`);
    $("#special-link").attr("href", `/all/?position=special&highschoolGraduationYear=${highschoolGraduationYear}`);

    let header;

    if (highschoolGraduationYear && highschoolGraduationYear !== "ALL" && !allClasses){
      header = `<span>${highschoolGraduationYear} class,</span> Dashboard`
    } else {
      header = `<span>All classes,</span> Dashboard`
    }

    $('#dashboard-name').html(header);

    const links = `<a href="/class?highschoolGraduationYear=${highschoolGraduationYear}&allClasses=${1}">All classes</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="/class?highschoolGraduationYear=${highschoolGraduationYear}">Current class</a> `

    $('#dashboard-switch-class').html(links);

    const updateDataTable = async () => {

      const allPlayers = await getAllPlayers();

      getTopCulturalFitData(undefined, allClasses ? "ALL" : highschoolGraduationYear, (res, status) => {
        if (status === 'success') {

          const dropdownHtml = (playerId) => {
            const options = allPlayers.map(player=>{
              if (playerId !== player.id){
                return `<option value="${player.id}">${player.fname} ${player.lname}</option>`
              } else {
                return ""
              }
            })

            return [`<option value="" disabled selected>Compare ...</option>`, ...options].join("")
          }

          const tableHtml = res.players.map((player, index) => {

            const { fname, id, lname, position, team, value, } = player;

            const playerInfo = `${fname} ${lname}`;

            return `<div class="players-table__row">
                  <div class="row align-items-center">
                    <div class="col-md-1">
                      <div class="players-table__item avatar">
                        <img src="../updatedDesign/img/player-avatar.jpg" alt="">
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="players-table__item">
                        ${index + 1}
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="players-table__item">
                        ${fname}
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="players-table__item">
                        ${lname}
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="players-table__item">
                        ${position}
                      </div>
                    </div>
                    <div class="col-md-1">
                      <div class="players-table__item">
                        ${Math.round(value)}
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="players-table__item btn-block">
                        <a href="/dashboard-player/?id=${id}&highschoolGraduationYear=${highschoolGraduationYear}">
                          <button class="showdetails-btn">Show Details</button>
                        </a>
                        <a href="/addnewathlete?id=${id}&highschoolGraduationYear=${highschoolGraduationYear}">
                          <button class="edit-btn"><img src="../updatedDesign/img/edit-icon.svg" alt=""></button>
                        </a>
                        <button id="delete-button-${id}" data-target="#add-attr" data-toggle="modal" data-player="${id}" data-name="${playerInfo}" class="delete-btn"><img src="../updatedDesign/img/delete-icon.svg" alt=""></button>
                        <select id="compare-dropdown-${id}" class="compare-dropdown" data-player="${id}">${dropdownHtml(id)}</select>
                      </div>
                    </div>
                  </div>
                </div>`
          }).join('');

          $('#CulturalFitTable').html(tableHtml);

          $(`.delete-btn`).click(function () {
            const pid = $(this).data('player')
            const name = $(this).data('name')

            $('#delete-user-info').html(`User ${name} will be deleted`);
            $('#delete-button-modal').off('click');

            $('#delete-button-modal').click(() => {
              deletePlayerById(pid, ()=>{
                $('#close-modal').click();
                setTimeout(updateDataTable, 1000);
              })
            });
          });

          $(`.compare-dropdown`).change(function (e) {
            const pid = $(this).data('player');
            window.location = `/comparePlayers?player1=${pid}&player2=${e.target.value}&highschoolGraduationYear=${highschoolGraduationYear}`;
          });
        }
      });
    }

    updateDataTable()

  });

</script>

</body>

</html>
