<% layout('layout_main') -%>
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">
    <%=teamDisplay %> Benchmark Input Page</h1>
  <!-- end page-header -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" id="basicInfo" data-sortable-id="index-7">
        <div class="panel-heading">
          <h4 class="panel-title">Core attributes benchmark input</h4>
        </div>
        <div class="panel-body">
          <form id="coreform">
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="pos">Position: </label>
              <div class="col-md-9">
                <select class="form-control" id="pos">
                  <% for(let i=0; i<positions.length; i++) { %>
                  <option>
                    <%= positions[i].title %>
                  </option>
                  <% } -%>
                </select>
              </div>
            </div>

            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="competitiveness">Competitiveness Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="number" placeholder="Competitiveness" id="competitiveness" value="<%= benchmarks.coreAttributesCompetitiveness %>"/>
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Competitiveness Factor" id="competitivenessF" value="<%= factors.coreAttributesCompetitiveness.factor %>"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="mastery">Mastery Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Mastery" id="mastery" value="<%= benchmarks.coreAttributesMastery %>"/>
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Mastery Factor" id="masteryF" value="<%= factors.coreAttributesMastery.factor %>"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="persistence">Persistence Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Persistence" id="persistence" value="<%= benchmarks.coreAttributesPersistence %>"/>
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Persistence Factor" id="persistenceF" value="<%= factors.coreAttributesPersistence.factor %>"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="teamOrientation">Team Orientation Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Team Orientation" id="teamOrientation" value="<%= benchmarks.coreAttributesTeamOrientation %>"/>
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Team Orientation Factor" id="teamOrientationF" value="<%= factors.coreAttributesTeamOrientation.factor %>"/>
              </div>
            </div>
            <div class="form-group row m-b-15">
              <label class="col-form-label col-md-3" for="workEthic">Work Ethic Benchmark</label>
              <div class="col-md-5">
                <input class="form-control m-b-5" type="text" placeholder="Work Ethic" id="workEthic" value="<%= benchmarks.coreAttributesWorkEthic %>"/>
              </div>
              <div class="col-md-4">
                <input class="form-control m-b-5" type="text" placeholder="Work Ethic Factor" id="workEthicF" value="<%= factors.coreAttributesWorkEthic.factor %>"/>
              </div>
            </div>
            <div class="form-group row m-b-15" style="display: flex;flex-direction: row;align-items: center;">
              <div class="subbtn col-md-5"><input type="button" class="btn btn-lime" id="benchmark_submit" value="Submit"></div>
              <div class="col-md-7" style="text-align: right"><a href="/addnewpillar">Add new Pillar</a></div>
            </div>
          </form>
        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->
</div>

<script>
  document.getElementById('benchmark_submit').addEventListener('click', function () {
    submit();
  });

  document.getElementById('pos').addEventListener('change', function (e) {
    const value = this.value;
    let position = positions.reduce(function(acc, elem){
      if (elem.title === value){
        acc = elem.value
      }
      return acc
    }, 'QB');
    getBenchmarks(position, (res)=>{updateBenchMarks(res)})

  });

  function updateBenchMarks(res) {
    document.getElementById("competitiveness").value = res.benchmarks.coreAttributesCompetitiveness;
    document.getElementById("mastery").value = res.benchmarks.coreAttributesMastery;
    document.getElementById("persistence").value = res.benchmarks.coreAttributesPersistence;
    document.getElementById("teamOrientation").value = res.benchmarks.coreAttributesTeamOrientation;
    document.getElementById("workEthic").value = res.benchmarks.coreAttributesWorkEthic;
  }

  const positions = [
    {title: 'Quarterback', value: 'QB'},
    {title: 'Running Back', value: 'RB'},
    {title: 'Wide Receiver', value: 'WR'},
    {title: 'Offensive Line', value: 'OL'},
    {title: 'Defensive Line', value: 'DL'},
    {title: 'Tight End', value: 'TE'},
    {title: 'Linebacker', value: 'LB'},
    {title: 'Corner Back', value: 'CB'},
    {title: 'Kicker', value: 'K'},
    {title: 'Defensive End', value: 'DE'},
    {title: 'Defensive Tackle', value: 'DT'},
    {title: 'Offensive Guard', value: 'OG'},
    {title: 'Offensive Tackler', value: 'OT'},
    {title: 'Defensive Back', value: 'DB'},
    {title: 'Punter', value: 'P'},
    {title: 'Safety', value: 'S'},
    {title: 'Long Snapper', value: 'LS'},
  ]

  function submit() {
    let pos = document.getElementById("pos").value;
    let position = positions.reduce(function(acc, elem){
      if (elem.title === pos){
        acc = elem.value
      }
      return acc
    }, 'QB')

    let competitivenessVal = document.getElementById("competitiveness").value;
    let competitivenessFVal = document.getElementById("competitivenessF").value;
    let masteryVal = document.getElementById("mastery").value;
    let masteryFVal = document.getElementById("masteryF").value;
    let persistenceVal = document.getElementById("persistence").value;
    let persistenceFVal = document.getElementById("persistenceF").value;
    let teamOrientationVal = document.getElementById("teamOrientation").value;
    let teamOrientationFVal = document.getElementById("teamOrientationF").value;
    let workEthicVal = document.getElementById("workEthic").value;
    let workEthicFVal = document.getElementById("workEthicF").value;

    const benchmarks = {
      position: position,
      coreAttributesCompetitiveness: parseFloat(competitivenessVal),
      coreAttributesMastery: parseFloat(masteryVal),
      coreAttributesPersistence: parseFloat(persistenceVal),
      coreAttributesTeamOrientation: parseFloat(teamOrientationVal),
      coreAttributesWorkEthic: parseFloat(workEthicVal),
    };

    const factors = {
      coreAttributesCompetitiveness: { factor: parseFloat(competitivenessFVal) },
      coreAttributesPersistence: { factor: parseFloat(persistenceFVal) },
      coreAttributesWorkEthic: { factor: parseFloat(workEthicFVal) },
      coreAttributesTeamOrientation: { factor: parseFloat(teamOrientationFVal) },
      coreAttributesMastery: { factor: parseFloat(masteryFVal) },
    };

    updateBenchmarks(position, benchmarks, factors)
  }
</script>

<!--<% stylesheet('/../assets/css/common.css') -%>-->
<!--<% stylesheet('/../assets/css/barchart.css') -%>-->
<!--<% stylesheet('/../assets/css/login.css') -%>-->
<!--<% stylesheet('/../assets/css/home.css') -%>-->
<!--<% stylesheet('/../assets/css/table.css') -%>-->
<!--<% script('/../assets/plugins/ejs/ejs.js') -%>-->
<!--<% script('/../assets/js/app/utils.js') -%>-->
<!--<% script('/../assets/js/app/api-mapper.js') -%>-->
<!--<% script('/../assets/js/app/api.js') -%>-->
<!--<% script('/../assets/js/app/domain.js') -%>-->
<!--<% script('/../assets/js/app/components/overall-score-section.js') -%>-->
<!--<% script('/../assets/js/app/components/core-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/academic-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/social-profile-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/emotional-intel-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/components/athletic-attributes-section.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-table.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-overall.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-bar-chart.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-top-culturals.js') -%>-->
<!--<% script('/../assets/js/app/draw/draw-pie-chart.js') -%>-->
<!--<% script('/../assets/js/app/home.js') -%>-->
