<% layout('layout_main') -%>
<div id="content" class="content">
  <!-- begin breadcrumb -->
  <ol class="breadcrumb pull-right">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
  <!-- end breadcrumb -->
  <!-- begin page-header -->
  <h1 class="page-header">Player Dashboard <small>Full View of Players.</small></h1>
  <!-- end page-header -->

  <!-- begin row -->
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-black-darker">
        <div class="stats-icon"><i class="fa fa-child"></i></div>
        <div class="stats-info">
          <h4>TOTAL <%= team %> PLAYERS</h4>
          <p>
            <%= overallCount %>
          </p>
        </div>
        <div class="stats-link">
          <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-gradient-purple">
        <div class="stats-icon"><i class="fa fa-link"></i></div>
        <div class="stats-info">
          <h4>Defense</h4>
          <p>
            <%= defensePercent %>%</p>
        </div>
        <div class="stats-link">
          <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-grey-darker">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <h4>Offensive</h4>
          <p>
            <%= offensePercent %>%</p>
        </div>
        <div class="stats-link">
          <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-lg-3 col-md-6">
      <div class="widget widget-stats bg-grey-darker">
        <div class="stats-icon"><i class="fa fa-users"></i></div>
        <div class="stats-info">
          <h4>Average score</h4>
          <p>
            <% if (overallScore) { %>
            <%= overallScore %>%
            <% } else { %>Not available
            <% } %>
          </p>
        </div>
        <div class="stats-link">
          <a href="javascript:;">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
        </div>
      </div>
    </div>
    <!-- end col-3 -->
  </div>
  <!-- end row -->
  <!-- begin row -->
  <div class="row">
    <!-- begin col-8 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-heading">
          <h4 class="panel-title">Cultural Fit</h4>
        </div>
        <div class="panel-body panel-height-5 culturalFdiv">
          <div class="height-xs">Top 10 players
            <div id="culturaltop">
              <div class="elLoader">
                <div class="loader"></div>
              </div>
            </div>
          </div>

          <div id="cultural-fit" class="height-sm">
            <div class="elLoader">
              <div class="loader"></div>
            </div>
          </div>
        </div>
        <!-- end panel -->
      </div>
      <!-- end col-6 -->
    </div>
    <!-- end row -->
  </div>
  <!-- begin row -->
  <div class="row">
    <!-- begin col-8 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-heading">
          <h4 class="panel-title">categories</h4>
        </div>
        <div class="panel-body panel-height-5">
          <a id="defensiveL" href="/dashboard-category/?category=defensiveL"><button type="button" class="btn"
              aria-haspopup="true" aria-expanded="false">Defensive Line</button></a>
          <a id="offensiveL" href="/dashboard-category/?category=offensiveL"><button type="button" class="btn"
              aria-haspopup="true" aria-expanded="false">Offensive Line</button></a>
          <a id="special" href="/dashboard-category/?category=special"><button type="button" class="btn"
              aria-haspopup="true" aria-expanded="false">Special teams</button></a>
          <a id="defensiveB" href="/dashboard-category/?category=defensiveB"><button type="button" class="btn"
              aria-haspopup="true" aria-expanded="false">Defensive Backs</button></a>
          <a id="quaterbacks" href="/dashboard-category/?category=defensiveB"><button type="button" class="btn"
              aria-haspopup="true" aria-expanded="false">Quaterbacks</button></a>
          <a id="linebackers" href="/dashboard-category/?category=defensiveB"><button type="button" class="btn"
              aria-haspopup="true" aria-expanded="false">Linebackers</button></a>
        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- end col-6 -->
  </div>
  <!-- end row -->

  <!-- start row -->
  <div class="row">
    <!-- begin col-6 -->
    <div class="col-lg-12">
      <!-- begin panel -->
      <div class="panel panel-inverse" id="overallBlock1" data-sortable-id="index-2">
        <div class="panel-heading">
          <!-- <div class="panel-heading-btn">
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
              <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div> -->
          <h4 class="panel-title">Overall Scores</h4>
        </div>
        <div class="panel-body">
          <!-- start accordion -->
          <div class="accordion" id="accordionExample">
          </div>
          <!-- accordion end -->
        </div>
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end row -->

  </div>
</div>

<!-- start modal -->
<div class="modal fade" id="chartmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalplayerstitle">Players</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="players">
          <div class="loader"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->

<% stylesheet('/../assets/css/common.css') -%>
<% stylesheet('/../assets/css/barchart.css') -%>
<% stylesheet('/../assets/css/login.css') -%>
<% stylesheet('/../assets/css/home.css') -%>
<% stylesheet('/../assets/css/table.css') -%>
<% script('/../assets/js/app/utils.js') -%>
<% script('/../assets/js/app/api-mapper.js') -%>
<% script('/../assets/js/app/api.js') -%>
<% script('/../assets/js/app/domain.js') -%>
<% script('/../assets/js/app/draw/draw-table.js') -%>
<% script('/../assets/js/app/draw/draw-overall.js') -%>
<% script('/../assets/js/app/draw/draw-bar-chart.js') -%>
<% script('/../assets/js/app/draw/draw-top-culturals.js') -%>
<% script('/../assets/js/app/draw/draw-pie-chart.js') -%>
<% script('/../assets/js/app/home.js') -%>
